.single-event {
  .top-menu .logo svg g g path:nth-of-type(1),
  .top-menu .logo svg g g path:nth-of-type(8),
  .top-menu .logo svg g g path:nth-of-type(9),
  .top-menu .logo svg g g path:nth-of-type(10),
  .top-menu .logo svg g g path:nth-of-type(11),
  .top-menu .logo svg g g path:nth-of-type(12) {
    fill: $ww-brown;
  }

  //article .container {
  //  border-top: 1px solid #cfc9c1;
  //}

  @import "components/event-popup";
  @import "components/event-header";
  @import "components/event-content";
  @import "components/related-content";
}