.single-video {
  article .border-top {
    border-top: 1px solid #cfc9c1;
  }

  @import "components/post-header-video";
  @import "components/header-video";
  @import "components/video-content";
  @import "components/related-content";
  @import "../archive/components/partner-zone";
}