.partner-zone {
  background: $ww-gold-lighter;
  padding: 15px 0;

  h3 {
    color: $ww-gold;
    font-family: $ww-inter;
    font-weight: $ww-medium;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .standard-article-card {
    @include media-breakpoint-up(lg) {
      &:not(:last-child) {
        border-right: 1px solid #a8a299;
      }
    }

    @include media-breakpoint-between(md, lg) {
      &:nth-child(2),
      &:nth-child(4) {
        border-right: 1px solid #a8a299;
      }
    }

    @include media-breakpoint-down(md) {
      &:not(:last-child) {
        border-bottom: 1px solid #a8a299;
        padding-bottom: 10px;
      }
    }

    @import "../../../standard-article-card";
  }
}