.bottom-menu {
  margin-top: 10px;
  width: 100%;
  position: relative;

  ul.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;

    a {
      text-decoration: none;
      color: $ww-text;
      text-transform: uppercase;
      font-size: 11px;
      font-family: $ww-inter;
      font-weight: $ww-medium;
      transition: $ww-transition-all;

      &:hover {
        font-weight: 700;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    display: none;
  }
}