.mobile-menu {
  display: none;
  width: 390px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -390px;
  background: $ww-gold-light;
  overflow: auto;

  @include media-breakpoint-down(md) {
    width: 100vw;
    left: -100vw;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $ww-gold;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: lighten($ww-gold, 10%);
  }

  .content {
    background: $ww-gold-lightest;
    padding-top: 40px;

    @include media-breakpoint-down(md) {
      padding-top: 20px;
    }

    .cross {
      padding-bottom: 40px;
      margin-bottom: 40px;
      border-bottom: 1px solid #cfc9c1;
      cursor: pointer;
      padding-left: 40px;

      svg {
        height: 18px;
        width: 18px;

        @include media-breakpoint-down(md) {
          height: 12px;
          width: 12px;
        }

        path {
          transition: $ww-transition-all;
        }
      }

      &:hover path {
        fill: $ww-gold;
      }
    }

    nav {
      padding-left: 40px;

      ul.menu {
        padding: 0;
        list-style: none;
        border-bottom: 1px solid #cfc9c1;
        margin: 0 0 25px;

        li {
          padding-bottom: 25px;

          a {
            text-decoration: none;
            color: $ww-text;
            text-transform: uppercase;
            font-size: 14px;
            font-family: $ww-inter;
            font-weight: $ww-medium;
            transition: $ww-transition-all;

            &:hover {
              font-weight: 700;
            }
          }
        }
      }
    }

    .secondary-menu {

      > a, > span {
        padding-left: 40px;
      }

      a, span {
        padding-bottom: 25px;
        display: block;
        text-decoration: none;
        color: $ww-gold;
        text-transform: uppercase;
        font-size: 14px;
        font-family: $ww-inter;
        font-weight: $ww-medium;
        transition: $ww-transition-all;
        cursor: pointer;

        &:hover {
          font-weight: 700;
        }
      }

      span {
        display: flex;
        gap: 20px;
        align-items: center;
      }

      #search {
        display: none;
      }

      .search-newsletter-switch {
        .newsletter-form {
          display: none;
          padding-left: 40px;
          padding-right: 40px;
          background: $ww-gold-lighter;
          padding-bottom: 40px;
          position: relative;

          p {
            font-family: $ww-pt;
            font-weight: $ww-bold;
            font-size: 21px;
            color: $ww-gold;
            padding-top: 20px;
          }

          form {
            .gfield_required {
              display: none;
            }

            .gform_fields {
              grid-row-gap: 20px
            }

            label {
              color: $ww-gold;
              font-family: $ww-pt;
              font-weight: $ww-medium;
              font-size: 15px;
            }

            input {
              border: 0;
              border-radius: 8px;

              &:focus {
                box-shadow: none;
              }
            }

            input[type="submit"] {
              padding: 15px 30px;
              color: #ffffff;
              font-family: $ww-pt;
              font-weight: $ww-medium;
              font-size: 14px;
              background: $ww-gold;
              border-radius: 25px;

              &:focus {
                box-shadow: none;
                border: none;
              }
            }

            .gform_confirmation_message {
              color: $ww-gold;
              font-family: $ww-pt;
              font-weight: $ww-medium;
              font-size: 15px;
            }

            [data-js-spinner-id] {
              display: none !important;
            }
          }
        }

        .search {
          padding-left: 40px;
          padding-right: 40px;
          padding-bottom: 40px;
          background: #e2d4c2;
          position: relative;

          .search-box {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            background: white;
            border-radius: 25px;
            align-items: center;
            padding: 10px 20px;

            span {
              color: $ww-text;
              font-family: $ww-pt;
              font-weight: $ww-medium;
              text-transform: capitalize;
              font-size: 14px;
              padding: 0;
            }

            svg path {
              stroke: $ww-brown;
            }
          }

          .sponsor {
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-left: 20px;

            span {
              color: $ww-brown;
              font-family: $ww-pt;
              font-weight: $ww-medium;
              text-transform: capitalize;
              font-size: 9px;
              padding: 0;
              margin-right: 20px;
            }

            img {
              max-height: 28px;
            }
          }
        }
      }
    }
  }
}