.top-menu {
  width: 100%;
  position: relative;

    .hamburger {
      position: absolute;
      height: 20px;
      width: 20px;
      left: 0;
      bottom: 2px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      @include media-breakpoint-down(lg) {
        height: 14px;
        width: 14px;
        top: 60%;
        transform: translateY(-50%);
        bottom: 0;
      }

      svg {
        height: 20px;
        width: 20px;

        @include media-breakpoint-down(lg) {
          height: 14px;
          width: 14px;
        }

        path {
          transition: $ww-transition-all;
        }
    }

    &:hover path {
      fill: $ww-gold;
    }
  }

  .logo {
    width: fit-content;
    margin: 0 auto;

    svg {
      @media (max-width: 1100px) {
        width: 255px;
      }

      @include media-breakpoint-down(lg) {
        width: 160px;
      }
    }
  }

  .search {
    position: absolute;
    right: 0;
    bottom: 2px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      height: 14px;
      width: 14px;
    }

    svg {
      height: 20px;
      width: 20px;

      @include media-breakpoint-down(lg) {
        height: 14px;
        width: 14px;
      }
    }

    path {
      transition: $ww-transition-all;
    }

    &:hover path {
      stroke: $ww-gold;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}