.event-podcast {
  padding: 15px 0;

  .events {
    h3 {
      color: $ww-brown;
      font-family: $ww-inter;
      font-weight: $ww-medium;
      font-size: 18px;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
    }

    .main-event-card {
      @import "../../../main-event-card";
    }

    .heading-term {
      @include term($ww-text);
      margin-bottom: 10px;
    }

    .small-event-card {
      @import "../../../small-event-card";
    }
  }

  .podcasts {
    @include media-breakpoint-up(lg) {
      border-left: 1px solid #d5d2d1;
    }

    div:not(:last-child) {
      padding-bottom: 20px;
      border-bottom: 1px solid #d5d2d1;
    }

    h3 {
      color: $ww-gold;
      font-family: $ww-inter;
      font-weight: $ww-medium;
      font-size: 18px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }

    .small-podcast-card {
      @import "../../../small-podcast-card";
    }
  }

  .word-to-wise {
    a {
      text-decoration: none;

      .term {
        @include term($ww-gold);
        margin-bottom: 10px;
      }

      .title {
        color: $ww-text;
        font-family: $ww-pt;
        font-weight: $ww-bold;
        font-size: 26px;
        margin-bottom: 10px;
        line-height: 28px;
      }

      .click-here {
        @include term($ww-gold);
        font-family: $ww-pt;
        font-style: italic;
        text-transform: unset;
        font-weight: $ww-bold;
        margin-top: 10px;
      }
    }
  }
}