.hero {
  .row {
    border-bottom: 1px solid #d5d2d1;
    padding-bottom: 20px;
  }

  .left {
    @include media-breakpoint-up(lg) {
        border-right: 1px solid #d5d2d1;
    }

    .archive-standard-article-card {
      &:first-child {
        border-bottom: 1px solid #d5d2d1;
      }

      .excerpt {
        display: block !important;
      }

      @import "../../../standard-article-card";
    }
  }

  .middle {
    @include media-breakpoint-up(lg) {
      border-right: 1px solid #d5d2d1;
    }

    .archive-standard-article-card {
      &:first-child {
        border-bottom: 1px solid #d5d2d1;

        @include media-breakpoint-up(lg) {
          .title {
            font-size: 40px;
            line-height: 38px;
          }
        }
      }

      @include media-breakpoint-up(lg) {
        &:last-child {
          a {
            display: flex;
            flex-direction: row-reverse;
          }

          .content {
            margin-right: 40px;
          }
        }
      }

      .excerpt {
        display: block !important;
      }

      @import "../../../standard-article-card";
    }
  }

  .right {
    @import "../../../partner-zone-sidebar";
  }
}