.hero {
  .row {
    border-bottom: 1px solid #d5d2d1;
    padding-bottom: 20px;
  }

  .left {
    @include media-breakpoint-up(lg) {
        border-right: 1px solid #d5d2d1;
    }

    .archive-standard-article-card {
      &:first-child {
        border-bottom: 1px solid #d5d2d1;

        @include media-breakpoint-down(lg) {
          .image-wrapper {
            position: unset;

            &:before {
              content: none !important;
            }

            img {
              position: absolute;
              width: 100vw;
              top: -10px;
              left: 0;

              @include media-breakpoint-down(md) {
                top: 40px;
              }
            }
          }

          .content {
            position: relative;
            background: $ww-background;
            padding-top: 10px;

            &:before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 100%;
              width: 100%;
              background: $ww-background;
            }

            &:after {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              right: 100%;
              width: 100%;
              background: $ww-background;
            }
          }
        }
      }

      .excerpt {
        display: block !important;
      }

      @import "../../../standard-article-card";
    }
  }

  .middle {
    @include media-breakpoint-up(lg) {
      border-right: 1px solid #d5d2d1;
    }

    .archive-standard-article-card {
      &:first-child {
        border-bottom: 1px solid #d5d2d1;

        @include media-breakpoint-up(lg) {
          .title {
            font-size: 40px;
            line-height: 38px;
          }
        }
      }

      @include media-breakpoint-up(lg) {
        &:last-child {
          a {
            display: flex;
            flex-direction: row-reverse;
          }

          .content {
            margin-right: 40px;
          }
        }
      }

      .excerpt {
        display: block !important;
      }

      @import "../../../standard-article-card";
    }
  }

  .right {
    @import "../../../partner-zone-sidebar";
  }
}