.post-content {
  max-width: 1024px;
  position: relative;
  margin: 20px auto auto;

  h1, h2, h3, h4, h5, h6 {
    color: $ww-brown;
    font-family: $ww-pt;
    font-weight: $ww-bold;
  }

  .top-section {
    .register {
      @include media-breakpoint-down(lg) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      button {
        border: none;
        background: #3f4d59;
        padding: 10px 25px;
        border-radius: 50px;
        color: #ffffff;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-size: 15px;
        transition: $ww-transition-all;

        @include media-breakpoint-up(lg) {
          width: 100%;
        }

        &:hover {
          background: lighten(#3f4d59, 10%);
        }
      }

      .share {
        @include media-breakpoint-up(lg) {
          display: none;
        }

        cursor: pointer;
        height: 20px;
        display: flex;
        position: relative;

        > svg {
          height: 20px;
        }

        .share-tooltip {
          background: white;
          position: absolute;
          z-index: 1;
          top: 24px;
          left: -20px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          display: none;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 20%;
            margin-left: -10px;
            border-width: 10px;
            border-style: solid;
            border-color: #ffffff transparent transparent transparent;
            transform: rotate(180deg);
            transform-origin: top;
          }

          a {
            &:first-child {
              border-bottom: 1px solid $ww-grey;
            }

            color: $ww-grey;
            font-family: $ww-pt;
            font-weight: $ww-medium;
            font-size: 11px;
            display: flex;
            align-items: center;
            padding: 10px 15px;
            white-space: nowrap;
            text-decoration: none;

            svg {
              height: 15px;
              margin-right: 10px;
            }
          }
        }
      }
    }

    .excerpt-intro {
      .excerpt {
        color: $ww-brown;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-size: 20px;

        @include media-breakpoint-down(lg) {
          font-size: 16px;
        }
      }

      p {
        color: $ww-text;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-size: 15px;
      }
    }

    > .share {
      @include media-breakpoint-down(lg) {
        display: none;
      }

      cursor: pointer;
      height: 20px;
      display: flex;
      position: relative;

      > svg {
        height: 20px;
      }

      .share-tooltip {
        background: white;
        position: absolute;
        z-index: 1;
        top: 24px;
        left: -20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: none;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 20%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: #ffffff transparent transparent transparent;
          transform: rotate(180deg);
          transform-origin: top;
        }

        a {
          &:first-child {
            border-bottom: 1px solid $ww-grey;
          }

          color: $ww-grey;
          font-family: $ww-pt;
          font-weight: $ww-medium;
          font-size: 11px;
          display: flex;
          align-items: center;
          padding: 10px 15px;
          white-space: nowrap;
          text-decoration: none;

          svg {
            height: 15px;
            margin-right: 10px;
          }
        }
      }
    }
  }

  .agenda {
    margin-bottom: 20px;

    .content {
      background: #e0d7d5;
      padding-top: 40px;
      position: relative;
      padding-bottom: 40px;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 10%;
        background: #e0d7d5;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 10%;
        background: #e0d7d5;
      }

      .accordion-container {
        margin-top: 10px;

        .accordion {
          border-bottom: 1px solid #cfc9c1;

          &:first-child {
            border-top: 1px solid #cfc9c1;
          }

          h5 {
            display: flex;
            justify-content: space-between;
            position: relative;
            padding-right: 55px;
            margin: 10px 0;

            @include media-breakpoint-down(lg) {
              font-size: 16px;
            }

            span {
              position: absolute;
              right: 0;
              width: 50px;
              height: 24px;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: $ww-transition-all;
            }

            .open {
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                height: 25px;
              }
            }

            .closed {
              display: flex;
              justify-content: center;
              align-items: center;

              svg {
                height: 25px;
              }
            }
          }

          .accordion-content {
            border-top: 1px solid #cfc9c1;
            padding-top: 1rem;
            display: none;

            .slot {
              display: flex;

              .time {
                color: $ww-grey;
                font-family: $ww-pt;
                font-weight: $ww-bold;
                font-style: italic;
                font-size: 18px;
                margin-right: 20px;
                min-width: 110px;

                @include media-breakpoint-down(lg) {
                  min-width: 100px;
                  font-size: 15px;
                }
              }

              .heading {
                color: $ww-grey;
                font-family: $ww-pt;
                font-weight: $ww-medium;
                font-size: 18px;
                @include media-breakpoint-down(lg) {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }

  .sponsor-logos {
    border-top: 1px solid #cfc9c1;
    border-bottom: 1px solid #cfc9c1;
    margin-bottom: 50px;

    @include media-breakpoint-up(lg) {
      width: 75vw;
    }

    @include media-breakpoint-down(lg) {
      width: 115%;
      margin-left: -7%;
    }

    .splide__slide {
      display: flex;
      align-items: center;
      padding: 20px;

      img {
        width: 100%;
      }
    }
  }

  .content-speakers {
    > p {
      color: $ww-text;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      font-size: 15px;
    }

    .content-speakers-items {
      border-top: 1px solid #cfc9c1;
      margin-bottom: 30px;
      margin-top: 30px;
      padding: 30px 0;
      position: relative;

      @include media-breakpoint-up(lg) {
        border-bottom: 1px solid #cfc9c1;
      }

      @include media-breakpoint-down(lg) {
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: -50px;
          width: 150%;
          height: 1px;
          background-color: $ww-brown;
        }
      }

      .content-speakers-item {

        &:not(:first-child) {
          border-top: 1px solid #cfc9c1;
          margin-top: 30px;
          padding-top: 30px;
        }

        .heading-two {
          font-weight: $ww-medium;
        }

        .content {
          color: $ww-text;
          font-family: $ww-pt;
          font-weight: $ww-medium;
          font-size: 15px;
        }

        .speaker {
          @include media-breakpoint-up(lg) {
            display: flex;

            img {
              margin-right: 40px;
            }
          }

          .img-container {
            @include media-breakpoint-down(lg) {
              display: flex;
              justify-content: center;
              margin-bottom: 20px;
            }

            img {
              width: 186px;
              height: 186px;
              object-fit: cover;
            }
          }

          p {
            margin-bottom: 0;
          }

          .speaker-job-title {
            color: $ww-brown;
            font-family: $ww-pt;
            font-weight: $ww-bold;
            font-size: 20px;
          }

          .speaker-name {
            color: $ww-brown;
            font-family: $ww-pt;
            font-weight: $ww-medium;
            font-size: 20px;
            font-style: italic;
          }

          .speaker-company {
            color: $ww-text;
            font-family: $ww-pt;
            font-weight: $ww-bold;
            font-size: 20px;
          }

          .speaker-about {
            color: $ww-text;
            font-family: $ww-pt;
            font-weight: $ww-medium;
            font-size: 15px;
          }
        }
      }
    }
  }

  .location {
    p {
      color: $ww-text;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      font-size: 15px;
      margin-bottom: 0;
    }

    .img-container {
      margin-top: 30px;
      position: relative;

      @include media-breakpoint-down(lg) {
        height: 380px;
      }
      img {
        height: 620px;
        width: 100vw;
        margin-left: -50px;
        object-fit: cover;

        @include media-breakpoint-down(lg) {
          height: 380px;
          position: absolute;
          margin: 0;
          left: -24px;
        }
      }
    }
  }

  .faq {
    margin-top: 60px;

    p {
      color: $ww-text;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      font-size: 15px;
      margin-bottom: 0;
    }

    .accordion-container {
      margin-top: 10px;

      .accordion {
        border-bottom: 1px solid #cfc9c1;

        &:first-child {
          border-top: 1px solid #cfc9c1;
        }

        h5 {
          display: flex;
          justify-content: space-between;
          position: relative;
          padding-right: 55px;
          margin: 10px 0;
          color: #717171 !important;

          @include media-breakpoint-down(lg) {
            font-size: 16px;
          }

          span {
            position: absolute;
            right: 0;
            width: 50px;
            height: 24px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $ww-transition-all;
          }

          .open {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              height: 25px;
            }
          }

          .closed {
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              height: 25px;
            }
          }
        }

        .accordion-content {
          border-top: 1px solid #cfc9c1;
          padding-top: 1rem;
          padding-bottom: 1rem;
          display: none;

          p {
            margin-left: 20px;
            margin-right: 40px;
          }
        }
      }
    }
  }

  .contact {
    margin-top: 60px;
    margin-bottom: 60px;

    > p {
      color: $ww-text;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      font-size: 15px;
      margin-bottom: 20px;
    }

    .contact-person {
      a {
        text-decoration: none;
        color: $ww-text;
      }

      @include media-breakpoint-up(lg) {
        display: flex;
        align-items: flex-end;

        img {
          margin-right: 40px;
        }
      }

      .img-container {
        @include media-breakpoint-down(lg) {
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
        }

        img {
          width: 186px;
          height: 186px;
          object-fit: cover;
        }
      }

      p {
        margin-bottom: 0;
      }

      .name {
        color: $ww-brown;
        font-family: $ww-pt;
        font-weight: $ww-bold;
        font-size: 20px;
      }

      .job-title {
        color: $ww-brown;
        font-family: $ww-pt;
        font-style: italic;
        font-weight: $ww-medium;
        font-size: 20px;
      }

      .email {
        color: $ww-text;
        font-family: $ww-pt;
        font-weight: $ww-bold;
        font-size: 20px;
      }

      .phone {
        color: $ww-text;
        font-family: $ww-pt;
        font-weight: $ww-bold;
        font-size: 20px;
      }
    }
  }
}