.post-content {
  max-width: 1024px;
  position: relative;
  margin: 34px auto auto;

  h1, h2, h3, h4, h5, h6, h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    color: $ww-gold;
    font-family: $ww-pt;
    font-weight: $ww-bold;
  }

  a {
    color: $ww-gold;
    font-family: $ww-pt;
    font-weight: $ww-bold;
    font-size: 15px;
  }

  .top-section {
    .img-cred p {
      color: $ww-grey;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      font-style: italic;
      font-size: 12px;
    }

    .content {
      p {
        color: $ww-text;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-size: 15px;
        line-height: 26px;
      }
    }

    .side-quote {
      p {
        color: $ww-gold;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-style: italic;
        font-size: 20px;
        line-height: 31px;
        margin: 0;
      }

      svg {
        height: 60px;
      }

      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
      }
    }
  }

  .rest-of-content {

    .regular-content {
      p {
        color: $ww-text;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-size: 15px;
        line-height: 26px;
      }
    }

    .single-image {
      img {
        width: 100%;
        margin-bottom: 10px;
      }

      p {
        color: $ww-grey;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-style: italic;
        font-size: 12px;
      }
    }

    .block-content {
      margin-bottom: 20px;

      .content {
        background: #ece6dd;
        padding-top: 40px;
        position: relative;
        padding-bottom: 40px;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 100%;
          width: 10%;
          background: #ece6dd;

          @include media-breakpoint-down(lg) {
            width: 100%;
          }
        }

        @include media-breakpoint-down(lg) {
          &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 100%;
            width: 100%;
            background: #ece6dd;
          }
        }

        p {
          max-width: 760px;
          color: $ww-text;
          font-family: $ww-pt;
          font-weight: $ww-medium;
          font-size: 15px;
        }
      }
    }

    .table-content {
      margin-bottom: 20px;

      .content {
        background: #ece6dd;
        padding-top: 40px;
        position: relative;
        padding-bottom: 40px;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 100%;
          width: 10%;
          background: #ece6dd;

          @include media-breakpoint-down(lg) {
            width: 100%;
          }
        }

        @include media-breakpoint-down(lg) {
          &:after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 100%;
            width: 100%;
            background: #ece6dd;
          }
        }

        h3 {
          color: $ww-brown;
          font-size: 20px;
          margin-bottom: 20px;
        }

        table {
          font-family: $ww-pt;

          thead {
            border-top: 1px solid $ww-gold;
            border-bottom: 1px solid $ww-gold;

            i {
              font-weight: normal;
            }
          }

          th, td {
            padding: 15px 50px 15px 0;

            @include media-breakpoint-down(md) {
              padding: 8px 10px 8px 0;
            }
          }

          tbody tr {
            border-bottom: 1px solid #c3c2c2;
          }
        }
      }
    }

    .double-image {
      img {
        width: 100%;
      }

      p {
        color: $ww-grey;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-style: italic;
        font-size: 12px;
      }
    }

    .inline-quote {
      display: flex;

      svg {
        height: 65px;
        margin-right: 20px;
        margin-top: -12px;
      }

      p {
        color: $ww-grey;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-style: italic;
        font-size: 17px;
        width: fit-content;
      }
    }

    .small-inline-quote {
      p {
        color: #585858;
        font-family: $ww-pt;
        font-weight: $ww-bold;
        font-style: italic;
        font-size: 24px;
        line-height: 28px;
        width: fit-content;
      }
    }
  }

  .owl {
    padding-top: 50px;
    padding-bottom: 50px;

    svg {
      height: 25px;
    }
  }
}