.post-header {
  margin: 20px auto;
  max-width: 1024px;

  .term {
    @include term($ww-gold);
  }

  .title-share {
    border-bottom: 1px solid $ww-grey;
    padding-bottom: 20px;

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .title {
      color: $ww-text;
      font-family: $ww-pt;
      font-weight: $ww-bold;
      font-size: 32px;
      margin-bottom: 20px;

      @include media-breakpoint-up(lg) {
        margin-right: 20px;
        font-size: 40px;
        margin-bottom: 0;
      }
    }

    .share {
      cursor: pointer;
      height: 20px;
      display: flex;
      position: relative;

      > svg {
        height: 20px;
      }

      .share-tooltip {
        background: white;
        position: absolute;
        z-index: 1;
        top: 24px;
        left: -20px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        display: none;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 20%;
          margin-left: -10px;
          border-width: 10px;
          border-style: solid;
          border-color: #ffffff transparent transparent transparent;
          transform: rotate(180deg);
          transform-origin: top;
        }

        a {
          &:first-child {
            border-bottom: 1px solid $ww-grey;
          }

          color: $ww-grey;
          font-family: $ww-pt;
          font-weight: $ww-medium;
          font-size: 11px;
          display: flex;
          align-items: center;
          padding: 10px 15px;
          white-space: nowrap;
          text-decoration: none;

          svg {
            height: 15px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}