.related-content {
  border-top: 2px solid #cfc9c1;
  overflow: hidden;

  h3 {
    color: $ww-gold;
    font-family: $ww-inter;
    font-weight: $ww-medium;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .standard-article-card {
    @include media-breakpoint-up(lg) {
      &:not(:last-child) {
        border-right: 1px solid #d5d2d1;
      }
    }

    @include media-breakpoint-between(md, lg) {
      &:nth-child(1),
      &:nth-child(3) {
        border-right: 1px solid #d5d2d1;
      }
    }

    @include media-breakpoint-down(md) {
      &:not(:last-child) {
        border-bottom: 1px solid #d5d2d1;
        padding-bottom: 10px;
      }
    }

    @import "../../../standard-article-card";
  }
}