.page-template-page-analysis-opinion {
  .main {

    > .container > .row {
      border-bottom: 1px solid #d5d2d1;
    }

    h1 {
      color: $ww-gold;
      font-family: $ww-inter;
      font-weight: $ww-medium;
      font-size: 24px;
      margin-bottom: 20px;
      line-height: 28px;
      text-transform: uppercase;
      width: 100%;
      position: relative;

      span {
        background-color: $ww-background;
        z-index: 1;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          width: 5%;
          background: $ww-background;
        }
      }

      &:after {
        content: '';
        border-top: .5px solid $ww-gold;
        width: 100%;
        display: block;
        position: absolute;
        top: 6px;
        opacity: .4;
      }

      &:before {
        content: '';
        border-top: .5px solid $ww-gold;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 6px;
        opacity: .4;
      }

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    .featured-article-card {
      position: relative;

      @include media-breakpoint-down(lg) {
        padding: 0;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          width: 100%;
          background: $ww-gold;
        }

        &:after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 100%;
          width: 100%;
          background: $ww-gold;
        }
      }

      a {
        text-decoration: none;

        &:hover .image-wrapper:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.1);
          pointer-events: none;
          z-index: 1;
        }

        &:hover .title {
          text-decoration: underline;
        }

        .image-wrapper {
          overflow: hidden;
          position: relative;
          height: 100%;

          img {
            transition: $ww-transition-all;
            width: 100%;
            aspect-ratio: 16 / 9;
            object-fit: cover;
            height: 100%;
          }
        }

        .image {
          min-height: 300px;
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding-top: 40px;
          padding-left: 40px;
          padding-bottom: 40px;
          background: $ww-gold;
          height: 100%;
          position: relative;

          @include media-breakpoint-up(lg) {
            padding-right: 40px;
            &:before {
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              left: 100%;
              width: 100%;
              background: $ww-gold;
            }
          }
        }

        .term {
          @include term(#ffffff);
          margin-bottom: 10px;
        }

        .title {
          color: #E2D4C2;
          font-family: $ww-pt;
          font-weight: $ww-bold;
          margin-bottom: 10px;
          font-size: clamp(2rem, 1.4073rem + 0.9569vw, 2.125rem);
          line-height: clamp(2.25rem, 1.6573rem + 0.9569vw, 2.375rem);
        }
      }
    }

    .not-main {
      padding-right: 0;

      //> div {
      //  padding-right: 0;
      //}
    }


    .second {
      padding-right: 11px;
      padding-left: 15px;

      @include media-breakpoint-up(lg) {
        border-right: 1px solid #d5d2d1;
      }

      @include media-breakpoint-down(lg) {
        .standard-article-card {
          border-bottom: 1px solid #d5d2d1;
        }
      }
    }

    .other {
      padding-right: 11px;
      padding-left: 15px;

      @include media-breakpoint-up(lg) {
        a {
          display: flex;
          flex-direction: row-reverse;
        }

        .content {
          margin-right: 40px;
        }
      }

      .excerpt {
        display: block !important;
      }

      .standard-article-card:first-child {
        border-bottom: 1px solid #d5d2d1;
        margin-bottom: 20px;
      }

      @include media-breakpoint-down(lg) {
        .standard-article-card {
          border-bottom: 1px solid #d5d2d1;
        }
      }
    }

    .standard-article-card {
      @import "../../standard-article-card";

    }

    .partner-zone-side {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid #d5d2d1;
      }

      @import "../../partner-zone-sidebar";
      margin-bottom: 20px;
    }

    .bottom-row {
      .standard-article-card {
        @include media-breakpoint-up(lg) {
          &:not(:last-child) {
            border-right: 1px solid #d5d2d1;
          }
        }

        @include media-breakpoint-down(lg) {
          &:not(:last-child) .content {
            border-bottom: 1px solid #d5d2d1;
          }
        }
      }
    }

    .rest-of-pages {
      .posts {
        .standard-article-card {
          @include media-breakpoint-down(lg) {
            &:not(:last-child) .content {
              border-bottom: 1px solid #d5d2d1;
            }
          }
        }
      }
    }

    .pagination {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .pagination-arrow {
        display: flex;
        align-items: center;

        svg path {
          transition: $ww-transition-all;
        }

        &:hover {
          svg path {
            fill: $ww-text;
          }
        }
      }

      .pagination-text {
        padding: 0 10px;
        color: $ww-gold;
        font-family: $ww-inter;
        font-weight: $ww-medium;
        font-size: 12px;
        margin-bottom: 0;

        span {
          font-family: $ww-pt;
          font-style: italic;
        }
      }
    }
  }

  @import "components/partner-zone";
  @import "components/videos";
  @import "components/choice-words";
  .choice-words {
    background: #eee4db;

    .row {
      border-bottom: none;
    }
  }

  .videos {
    background: none;

    .row {
      border-bottom: 1px solid #d5d2d1;
    }
  }
  @import "components/recommended";
}