.post-type-archive-event {
  .top-menu .logo svg g g path:nth-of-type(1),
  .top-menu .logo svg g g path:nth-of-type(8),
  .top-menu .logo svg g g path:nth-of-type(9),
  .top-menu .logo svg g g path:nth-of-type(10),
  .top-menu .logo svg g g path:nth-of-type(11),
  .top-menu .logo svg g g path:nth-of-type(12) {
    fill: $ww-brown;
  }

  .main {
    h1 {
      color: $ww-gold;
      font-family: $ww-inter;
      font-weight: $ww-medium;
      font-size: 24px;
      margin-bottom: 20px;
      line-height: 28px;
      text-transform: uppercase;
      width: 100%;
      position: relative;

      span {
        background-color: $ww-background;
        z-index: 1;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          width: 5%;
          background: $ww-background;
        }
      }

      &:after {
        content: '';
        border-top: 1px solid $ww-gold;
        width: 100%;
        display: block;
        position: absolute;
        top: 6px;
      }

      &:before {
        content: '';
        border-top: 1px solid $ww-gold;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 6px;
      }

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    .main-event-card {
      @import "../../main-event-card";
      margin-bottom: 20px;

      .event-card {
        height: 100%;
      }
    }
    .partner-zone-side {
      @include media-breakpoint-up(lg) {
        border-left: 1px solid #d5d2d1;
      }

      @import "../../partner-zone-sidebar";
      margin-bottom: 20px;
    }

    .pagination {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .pagination-arrow {
        display: flex;
        align-items: center;

        svg path {
          transition: $ww-transition-all;
        }

        &:hover {
          svg path {
            fill: $ww-text;
          }
        }
      }

      .pagination-text {
        padding: 0 10px;
        color: $ww-brown;
        font-family: $ww-inter;
        font-weight: $ww-medium;
        font-size: 12px;
        margin-bottom: 0;

        span {
          font-family: $ww-pt;
          font-style: italic;
        }
      }
    }
  }

  @import "components/partner-zone";
  @import "components/recommended";
}