.post-type-archive-partner_content {
  .main {

    > .container > .row {
      border-bottom: 1px solid #d5d2d1;
    }

    h1 {
      color: $ww-gold;
      font-family: $ww-inter;
      font-weight: $ww-medium;
      font-size: 24px;
      margin-bottom: 20px;
      line-height: 28px;
      text-transform: uppercase;
      width: 100%;
      position: relative;

      span {
        background-color: $ww-background;
        z-index: 1;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          left: 100%;
          width: 5%;
          background: $ww-background;
        }
      }

      &:after {
        content: '';
        border-top: 1px solid $ww-gold;
        width: 100%;
        display: block;
        position: absolute;
        top: 6px;
      }

      &:before {
        content: '';
        border-top: 1px solid $ww-gold;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 6px;
      }
    }

    .standard-article-card {
      @import "../../standard-article-card";

    }

    .partner-zone-side {
      @import "../../partner-zone-sidebar";
      margin-bottom: 20px;
    }

    .bottom-row {
      .standard-article-card {
        @include media-breakpoint-down(lg) {
          &:not(:last-child) .content {
            border-bottom: 1px solid #d5d2d1;
          }
        }
      }
    }
  }

  @import "components/partner-zone";
  @import "components/events";
  @import "components/recommended";
}