.archive.tax-partner {
  .main {

    > .container > .row {
      border-bottom: 1px solid #d5d2d1;
    }

    h1 {
      color: $ww-gold;
      font-family: $ww-inter;
      font-weight: $ww-medium;
      font-size: 24px;
      margin-bottom: 20px;
      line-height: 28px;
      text-transform: uppercase;
    }

    .heading {
      background-color: #ffffff;
      padding: 20px 0;

      img {
        max-width: 200px;
      }

      p {
        color: $ww-text;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-size: 18px;
        line-height: 29px;
      }
    }

    .standard-article-card {
      @import "../../standard-article-card";

    }

    .sub-heading {
      color: $ww-gold;
      font-family: $ww-inter;
      font-weight: $ww-medium;
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
      text-transform: uppercase;
    }

    .bottom-row {
      .standard-article-card {
        @include media-breakpoint-down(lg) {
          &:not(:last-child) .content {
            border-bottom: 1px solid #d5d2d1;
          }
        }
      }
    }

    .rest-of-pages {
      .posts {
        .standard-article-card {
          @include media-breakpoint-down(lg) {
            &:not(:last-child) .content {
              border-bottom: 1px solid #d5d2d1;
            }
          }
        }
      }
    }

    .pagination {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .pagination-arrow {
        display: flex;
        align-items: center;
      }

      .pagination-text {
        padding: 0 10px;
        color: $ww-gold;
        font-family: $ww-inter;
        font-weight: $ww-medium;
        font-size: 12px;
        margin-bottom: 0;

        span {
          font-family: $ww-pt;
          font-style: italic;
        }
      }
    }
  }
}