footer {
  position: relative;

  @include media-breakpoint-down(lg) {
    text-align: center;
  }

  .first {
    background-color: $ww-gold-light;
    padding: 30px 0;

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 230px;

      @include media-breakpoint-down(lg) {
        margin: auto;
      }

      span {
        color: $ww-gold;
        font-family: $ww-inter;
        font-weight: $ww-medium;
        font-size: 10px;
        line-height: 12px;
        padding-top: 5px;
      }

      svg {
        width: 230px;
      }
    }

    p {
      color: $ww-text;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      font-size: 12px;
      line-height: 20px;
      margin-top: 10px;
      margin-bottom: 0;
    }

    .socials {
      margin-top: 10px;
      display: flex;
      align-items: center;
      gap: 20px;

      @include media-breakpoint-down(lg) {
        justify-content: center;
        margin-top: 10px;
      }

      a {
        height: 20px;

        &:hover path {
          fill: $ww-gold;
        }

        svg {
          height: 20px;

          path {
            transition: $ww-transition-all;
          }
        }
      }
    }

    span {
      color: $ww-gold;
      font-family: $ww-inter;
      font-weight: $ww-medium;
      font-size: 11px;
      line-height: 14px;
      padding-bottom: 10px;
    }

    ul.menu {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        a {
          text-decoration: none;
          color: $ww-text;
          font-size: 12px;
          font-family: $ww-pt;
          font-weight: $ww-medium;
        }
      }
    }

    a, #newsletter {
      display: block;
      text-decoration: none;
      color: $ww-text;
      font-size: 12px;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      cursor: pointer;
    }

    .header {
      display: block;
    }

    @include media-breakpoint-down(lg) {
      .header {
        margin-top: 20px;
      }
    }
  }

  .second {
    background-color: $ww-green;
    padding: 30px 0;

    ul.menu {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 20px;

      @include media-breakpoint-up(lg) {
        display: flex;
        gap: 20px;
      }

      li {
        a {
          text-decoration: none;
          color: #ffffff;
          font-size: 10px;
          font-family: $ww-pt;
          font-weight: $ww-bold;
        }
      }
    }

    p {
      color: #ffffff;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      font-size: 10px;
      line-height: 13px;
      margin-bottom: 0;

      span {
        color: #C8AE88;
        font-style: italic;
      }
    }
  }
}