a {
  text-decoration: none;

  &:hover .image-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
    z-index: 1;
  }

  &:hover .title {
    text-decoration: underline;
  }

  .event-card {
    background: #dddddd;

    .image-wrapper {
      overflow: hidden;
      margin-bottom: 10px;
      position: relative;
      height: fit-content;

      img {
        transition: $ww-transition-all;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
    }

    .content {
      padding: 0 20px 20px 20px;
    }

    .term {
      @include term($ww-brown);
      margin-bottom: 10px;
    }

    .title {
      color: $ww-text;
      font-family: $ww-pt;
      font-weight: $ww-bold;
      font-size: 32px;
      margin-bottom: 10px;
      line-height: 34px;
    }

    .excerpt, .date-location {
      color: $ww-text;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      font-size: 12px;
      line-height: 20px;
    }

    .date-location {
      font-style: italic;
    }
  }
}