.zone-header {
  color: $ww-gold;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.archive-partner-card-short {
  &:nth-child(-n+4) {
    border-bottom: 1px solid #d5d2d1;
  }

  .term {
    margin-bottom: 20px !important;
    font-style: italic;
  }

  @import "standard-article-card";

  .title {
    color: #4E4E4E !important;
  }

}

.search {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background: #f1eae3;
  position: relative;

  .search-box {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 25px;
    align-items: center;
    padding: 10px 20px;

    span {
      color: $ww-text;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      text-transform: capitalize;
      font-size: 14px;
      padding: 0;
    }

    svg path {
      stroke: $ww-brown;
    }
  }

  .sponsor {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;

    span {
      color: $ww-brown;
      font-family: $ww-pt;
      font-weight: $ww-medium;
      text-transform: capitalize;
      font-size: 9px;
      padding: 0;
      margin-right: 20px;
    }

    img {
      max-height: 28px;
    }
  }
}