a {
  text-decoration: none;

  &:hover img {
    transform: scale(1.1);
  }

  .image-wrapper {
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;

    &:has(.play-button) {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
        pointer-events: none;
        z-index: 1;
      }
    }

    .play-button {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 17px;
        height: 17px;
      }
    }

    img {
      transition: $ww-transition-all;
      width: 100%;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
  }

  .term {
    @include term($ww-gold);
    margin-bottom: 10px;
  }

  .title {
    color: $ww-text;
    font-family: $ww-pt;
    font-weight: $ww-bold;
    font-size: 26px;
    margin-bottom: 10px;
    line-height: 28px;
  }

  .excerpt {
    color: $ww-text;
    font-family: $ww-pt;
    font-weight: $ww-medium;
    font-size: 12px;
    line-height: 20px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}