// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Splide
@import '~@splidejs/splide/dist/css/splide.min.css';

// Variables
@import 'variables';

// Mixins
@import 'mixins';

:root {
  --app-height: 100%;
}

#wrapper {
  overflow-x: hidden;
  position: relative;
}

main#content {
  margin-top: 120px;

  @include media-breakpoint-down(lg) {
    margin-top: 70px;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
  pointer-events: none;
}

.no-click {
  pointer-events: none;
}

// Components
@import "components/header/header";

@import "components/search-poppup";

@import "components/homepage/homepage";
@import "components/about-page/about";
@import "components/default-page/default-page";
@import "components/404/404";
@import "components/search/search";

@import "components/content/blog";
@import "components/content/video";
@import "components/content/event";

@import "components/archive/analysis-opinion";
@import "components/archive/category-term";
@import "components/archive/video";
@import "components/archive/event";
@import "components/archive/partner-zone";
@import "components/archive/partner-single";

@import "components/footer/footer";
