.newsletter-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  max-width: 370px;
  max-height: 93vh;
  background-color: #7E5F1F;
  border-radius: 18px;
  overflow-y: auto;
  pointer-events: auto;
  padding: 30px;
  display: none;

  @include media-breakpoint-down(lg) {
    top: 67px;
    left: 0;
    transform: none;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .close {
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;

    svg {
      path {
        fill: #ffffff;
      }
    }
  }

  h3 {
    color: #ffffff;
    font-family: $ww-pt;
    font-weight: $ww-bold;
    font-size: 32px;
    margin-bottom: 20px;

    span {
      color: #E2D4C2;
    }

    @include media-breakpoint-up(md) {
      font-size: 40px;
    }
  }

  .gform-theme.gform-theme--foundation.gform-theme--framework form {
    .gfield_required {
      display: none;
    }

    .gform_fields {
      grid-row-gap: 20px !important;
      line-height: 0 !important;
    }

    .gform_fields {
      border-bottom: 1px solid #707070;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .gform_footer {
      margin: 0;
    }

    label {
      color: #ffffff;
      font-family: $ww-pt !important;
      font-weight: $ww-medium !important;
      font-size: 15px;
    }

    input {
      border: 0;
      border-radius: 8px;

      &:focus {
        box-shadow: none;
      }
    }

    input[type="text"], input[type="email"] {
      height: 44px !important;
    }

    fieldset.gfield--type-consent {
      display: flex;
      align-items: flex-end;
      color: #ffffff !important;

      label {
        font-size: 12px !important;
      }
    }

    input[type="submit"] {
      padding: 13px 35px !important;
      color: $ww-gold !important;
      font-family: $ww-pt !important;
      font-weight: $ww-medium !important;
      font-size: 16px !important;
      background: #e2d4c2 !important;
      border-radius: 25px !important;

      &:focus {
        box-shadow: none !important;
        border: none !important;
      }

      &:hover {
        background: lighten(#e2d4c2, 10%) !important;
      }
    }

    [data-js-spinner-id] {
      display: none !important;
    }
  }

  .gform_confirmation_message {
    color: #ffffff !important;
    font-family: $ww-pt !important;
    font-weight: $ww-medium !important;
    font-size: 15px !important;
  }
}