.search-popup {
  position: fixed;
  top: 0;
  width: 100vw;
  background: $ww-gold;
  opacity: 95%;
  z-index: 999;
  height: 300px;
  display: none;
  pointer-events: auto;

  .container {
    height: 100%;

    @include media-breakpoint-down(lg) {
      width: 100%;
      display: flex;
      align-items: center;
    }

    .row {
      max-width: 1024px;
      margin: auto;
      height: 100%;
      align-items: center;
      position: relative;

      @include media-breakpoint-down(lg) {
        height: auto;
        width: 100%;
      }

      .search {
        span {
          color: #ffffff;
          font-family: $ww-pt;
          font-weight: $ww-bold;
          font-size: 32px;
          margin-bottom: 20px;

          @include media-breakpoint-up(lg) {
            font-size: 40px;
          }
        }

        form {
          position: relative;

          label {
            width: 100%;
          }

          input[type="text"] {
            width: 100%;
            border: none;
            border-radius: 25px;
            padding: 8px 20px;
            font-family: $ww-pt;
          }

          input[type="image"] {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
          }
        }
      }

      .sponsor {
        color: #ffffff;
        font-family: $ww-pt;
        font-weight: $ww-medium;
        font-style: italic;
        font-size: 11px;
        padding: 0;

        @include media-breakpoint-up(lg) {
          margin-top: 80px;
          margin-left: 20px;
        }

        @include media-breakpoint-down(lg) {
          margin-top: 20px;
        }

        img {
          max-height: 35px;
          margin-top: 10px;
        }
      }

      .close {
        position: absolute;
        top: 42px;
        right: -43px;
        cursor: pointer;
        width: fit-content;

        @include media-breakpoint-down(lg) {
          top: 0;
          right: 0;
        }

        &:hover svg path {
          fill: #ffffff;
        }

        svg {
          height: 18px;
          width: 18px;

          @include media-breakpoint-down(lg) {
            height: 12px;
            width: 12px;
          }

          path {
            transition: $ww-transition-all;
          }
        }
      }
    }
  }
}