header {
  width: 100%;
  position: fixed;
  z-index: 99;
  padding-top: 30px;
  padding-bottom: 10px;
  background: $ww-background;
  transition: box-shadow .3s;

  &.active {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    padding-top: 10px;

    @include media-breakpoint-down(lg) {
      padding-top: 0px;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-top: 0px;
  }

  @import "components/top-menu";
  @import "components/bottom-menu";
  @import "components/mobile-menu";
}

.hidden {
  display: none !important;
}